@media only screen and (min-width: 992px) and (max-width: 1280px){
  
    /* Twitch */
  
    .twitch {
      background-image: url(/img/gerais/tablet/thor-tablet.png);
      background-size: cover;
      background-repeat: repeat;
      width: 100%;
    }
  
    .aovivo {
      align-self: flex-start;
      margin-bottom: 1rem;
    }
  
    .twitch-thumb {
      padding-top: 1.25rem;
      align-self: center;
      width: 34.375rem;
      height: 30rem;
    }

    .chat-twitch {
      width: 21.875rem;
      height: 20.3125rem;
    }

  }
