@media only screen and (min-width: 2000px) {
 
  .partners {
    flex-direction: row; 
    justify-content: space-between ;
    align-items: flex-end;
    width: 100rem;  
    height: 650px;
    margin-bottom: 10rem;
  }
}